*{margin: 0; padding: 0; font-family:"Microsoft Yahei" ;}
a{text-decoration: none;font-family:"Microsoft Yahei" ;}
img{border: none}
li{list-style: none}
.header{width: 100%;background-color: #f2f2f2;height:120px;}
.header-in1{width: 100%;height: 120px;background-color: #bdbcbc}
.header-in11{width: 1200px;margin: 0 auto;height: 120px;}
.header-in11 ul{float: right}
.header-in11 ul li{float: left;height: 37px;line-height: 37px;padding-right: 18px;}
.header-in11 ul li a{height: 37px;line-height: 37px;color: #ffffff;font-size: 12px}
.header-in11 ul li a span{position: relative;bottom: 8px;}
.header-in11 ul li a img{position: relative;bottom: 0px;left: -2px;}
.header-in{width: 1200px;background-color: #f2f2f2;margin: 0 auto;height: 120px;display:-webkit-box;}
.header-in img{float: left;}
.header-in ul{float: left;margin-left: 94px; }
.header-in ul li{float: left;height: 53px;width: 199px;text-align: center;}
.ding+.ding{margin-left: 2px;}
.ding{margin-top: 40px; position: relative;line-height: 53px;background: #e1e1e1;}

.header-in ul li:hover{background-color: #1d2088;}
.header-in ul li:hover a{color: #ffffff}
.header-in ul li a{font-size: 16px;color: #595959;}
.header-in .kuang{position: absolute;left: -94px;top: 53px;display: none;z-index: 9}
.header-in .kuang ul{float: none}
.header-in .kuang ul li{float: none;height: 36px;width: 199px;line-height: 36px;background-color:#b2b2b2;border-bottom: 2px solid #d8d8d8}
.header-in .kuang ul li:hover{background-color: #766ad0}
.header-in .kuang ul li a{display:block;color: #ffffff;height: 36px;width: 190px;}
.header-in ul li:hover .kuang{display: block}
.header-in input{height:27px;border: 1px solid #595757;border-radius: 50px;padding-left: 11px;margin-top: 16px;outline: medium;background: url("../images/glass.png") no-repeat;background-position: 130px 6px;}
.banner{display:box;width: 100%;background-position:-116px -44px;background-color: #efefef;z-index: 8;min-height:700px; }
.body{width: 1000px;margin: 0 auto;}
.line{height: 646px;}
.line div{width:128px;height: 128px;float: left;background: url("../images/white.png");background-position: 0px 0px;margin-right: 38px;margin-top: 70px;}

.footer{width: 100%;height:150px;background: url("../images/ftbj.png"); color:#585657;}
.footer .p1{ padding-top:30px; line-height:40px; font-size:20px;}
.footer .p1 span{ padding:0 12px;}
.line .blue{background: url("../images/blue.png")}
.wid1000{width: 1000px;border-top: 1px solid transparent;z-index: 8;margin:0 auto; text-align:center;}
.p_r{position:relative;}
.ftb{ display:block; width:1000px; position:absolute; bottom:-70px; height:40px; line-height:20px; text-align:center !important; font-size:12px;}
.ftb span{ display:block;}

.left,.center,.right{padding-top: 35px;;border-right: 1px solid #a4a3a4;margin-top: 13px;}
.left{width: 300px;float: left;}
.center{width: 312px;float: left}
.center img,.center ul{float: left}
.center ul{margin-left: 25px;}
.center ul a{color: #595656;font-size: 14px;}
.center img{margin-left: 71px;}
.right{width: 383px; position:absolute; top:-30px; right:0;}
.right img,.right ul{float: left}
.right ul{margin-left: 25px;}
.right ul a{color: #595656;font-size: 14px;}
.right img{margin-left: 71px;}
.er{width: 86px;height: 86px;background: url("../images/er.png");display: block;float: right;margin-top: -12px;}
.bottom{margin-top: 160px;}
.bottom p{ color: #595656;font-size: 12px;text-align: center}
.body-in{padding-top: 30px;width: 1000px;margin: 0 auto; min-height: 620px;padding-bottom: 80px;}
.body-in h1{font-size: 24px;color: #595656;float: left;text-align: center;}
.body-in h1 span{color: #1d2088;}
.body-in .ul{float: right;margin-top: 15px;}
.body-in .ul li b{display: block;margin-top: 35px;color: #b9b9b9;font-weight: normal;font-size: 14px;}
.body-in .ul li a{color: #ffffff;position: relative;z-index: 8;font-size: 12px;}
.body-in .ul li{float: left;background: #b9b9b9;height: 5px;line-height: 5px;width: 130px;text-align: center;position: relative;z-index:8}
.ul span{display: block;width: 19px;height: 19px;background: url("../images/ccc.png");z-index: 7;position: absolute;top:-6px;;left: 55px;}
.body-in .ul .change{background-color: #c30811}
.body-in .ul .change b{color: #c30811}
.body-in .ul .change2{background-color: #ec6d74}
.body-in .ul .change2 b{color: #ec6d74}
.body-in .ul .change span{background: url("../images/bigred.png");width: 26px;height: 26px;top:-8px;;left: 53px;}
.body-in .ul .change2 span{background: url("../images/red.png")}
.botton{padding-bottom: 8px;width: 900px;margin: 100px auto 0px auto}
.botton h3,.botton a{float: left}
.botton h3{font-size: 16px;line-height: 27px;color: #595656}
.botton .a1{display: block;width: 127px;height: 27px;border:1px solid #1d2088;line-height: 27px;text-align: center;font-size: 12px;color: #1d2088;margin-left: 26px;position: relative; background: url("../images/flie2.png")no-repeat;background-position: 11px 7px;}
.botton .a2{display: block;width: 127px;height: 27px;background-color:  #1d2088;line-height: 27px;text-align: center;font-size: 12px;color: #ffffff;margin-left: 26px;margin-top: 0px;}
.botton .a22{background-color:#898989;color: #e5e5e5; border:1px solid #666; cursor: default;}

.file{width: 900px;border-top: 1px solid #595656;height: 210px;padding-top: 17px;margin: 0 auto; overflow: hidden;}
.file .flow-box{width:500px;height:160px;background: url('../images/box5.png') no-repeat center ; border:3px dashed #b9b9b9;border-radius: 15px; float:left;margin-left: 110px; margin-top: 15px;}
.file2{display:box; width: 900px;border-top: 1px solid #595656;min-height: 210px;margin: 5px auto}
.file3{width: 900px;border-top: 1px solid #595656;min-height: 40px;padding-top: 17px;padding-bottom: 25px;margin: 0 auto;box-sizing:border-box;}
.file h3{font-size: 16px;color: #595656; float:left;}
.file3 h3{font-size: 16px;color: #595656;float: left;margin-top: 8px;}
.file3 .input{width: 558px;height: 30px;}
.file3 .inpp{margin-left: 110px;padding-top: 11px; font-size:14px;}
.file3 .inpp p{font-size: 12px; color: #595656;margin-top: 15px;}
.file2 .pdf{width: 725px;height: 37px;border:  1px solid #b9b9b9;background-color: #e7e7e7;margin:15px auto;line-height: 36px;color: #595656;font-size: 12px;}
.pdf .icon{margin:8px 10px;}
.pdf .btn{margin:0px 3px; cursor: pointer;color:#0a0e87;}
.pdf .ii1{margin:13px 3px;vertical-align:bottom;}
.pdf .aa2{color: #b81c22}
.pdf .aa3{color: #c30811}
.file4{width: 900px;margin: 0 auto;padding: 18px 0px;border-top: 1px solid #595656;}
.file4 h3{font-size: 16px;color: #595656;float: left}
.file4 p,.file4 a{float: left;margin-left: 24px;}
.file4 p{color: #595656;font-size: 12px;}
.file4 a{display: block;width: 80px;height: 25px;background-color: #1d2088;line-height: 25px;text-align: center;color: #ffffff;font-size: 12px;}
.right{border: none}
.wid680 {
  width: 680px;
  margin: 0px auto 30px;
  font-size: 16px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #666;
  background: url(../images/xjx.png);
}
/*.inpp-bottom{*/
    /*width:100%;*/
    /*height:50px;*/
    /*border-top:1px solid #000;*/
    /*margin-top:10px;*/
/*}*/
/*.inpp-bottom input{*/
    /*margin-top:20px;*/
    /*width:100px;*/
    /*margin-left:80px;*/
/*}*/

.all{
  background:#2A3C54;
}

.container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}


/*进度条*/
progress{  display: inline-block;  vertical-align: baseline;}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  height: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  border: 1px #ddd solid;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  -o-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.sr-only {
    position: absolute;
    top: 0;
    left: 60px;
    width: 60px;
    text-align: center;
}






/*============new style============================*/

@charset "utf-8";
/* CSS Document */
/*全局样式*/
html{ *overflow-x: hidden;}
body{ width:100%; background-color: #f2f2f2; font: 14px "Microsoft YaHei", "SimSun", Helvetica, Arial, sans-serif, "microsoft yahei"; color: #4c4c4c; overflow-x:hidden;position: absolute;min-height: 100%;}
/*body input{overflow:visible;padding-top:0px; padding-bottom:0px;}*/
*{margin: 0px; padding: 0px;}
*input[type="text"]{outline: none;}
*input[type="button"]{outline: none;}
div, ul, li, dt, dl, dd, p{ margin: 0px; padding: 0px; list-style-type: none;}
img { border: 0px; vertical-align: top;}
a, a:hover, a:visited, li, li:hover, dd, dd:hover, p, p:hover{ text-decoration: none;}
/*header*/
.clear{ clear: both; height: 0; line-height: 0; font-size: 0; overflow:hidden; margin: 0px; padding: 0px;}
/*主体*/
.container{width: 1200px;margin:0 auto;display: block;height:100%;overflow:hidden;}
.nav{height: 120px;width: 100%;}
.nav a{display: block;float: right;padding: 16px 52px;background: #e1e1e1;margin-left: 2px;margin-top: 40px;font-size: 16px;color: #595959;}
.tag_left,.tag_right{display: block;float: left;height: 414px;width: 600px;}
.tag_left{background: url(../images/tab_all.png) no-repeat;position: relative;}
.tag_left span{position: absolute;bottom:30px;color: #fdfdfe;left: 50%;font-size: 16px;margin-left: -300px;text-align: center;width: 600px;}
.tag_left img{position: absolute;right: 30px;top:38%}
.tag_left img.arr_b{margin-right: 40px;}
.tag_left{-webkit-backface-visibility:hidden;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
/*.tag_left:hover{opacity:0.8}*/


.tag_left:hover img{-webkit-animation-name: que_list_left;animation-name: que_list_left;-webkit-animation-duration: 0.75s;animation-duration: 0.75s;-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}
@-webkit-keyframes que_list_left {
  0%,
  50%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  25%,
  75% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
}

@keyframes que_list_left {
  0%,
  50%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  25%,
  75% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
}
.tag_right{}
.column_1of2{width: 400px;}
.column_2of2{width: 200px;}
.column_1of2,.column_2of2{display: block;float: left;}
.column_1of2 span.excel,.column_1of2 span.word,.column_1of2 span.ppt,.column_1of2 span.xml,.column_2of2 span.txt,.column_2of2 span.html{display: block;float: left;position: relative;}
.column_1of2 span.excel{background: url(../images/tab_excel.png) no-repeat;height: 138px;width: 400px;}
/*.column_1of2 span.excel{-webkit-backface-visibility:hidden;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
.column_1of2 span.excel:hover{opacity:0.8}*/
.column_1of2 span.word{background: url(../images/tab_word.png) no-repeat;height: 138px;width: 400px;}
/*.column_1of2 span.word{-webkit-backface-visibility:hidden;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
.column_1of2 span.word:hover{opacity:0.8}*/
.column_1of2 span.ppt{background: url(../images/tab_ppt.png) no-repeat;width: 200px;height: 138px;}
/*.column_1of2 span.ppt{-webkit-backface-visibility:hidden;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
.column_1of2 span.ppt:hover{opacity:0.8}*/
.column_1of2 span.xml{background: url(../images/tab_xml.png) no-repeat;width: 200px;height: 138px;}
/*.column_1of2 span.xml{-webkit-backface-visibility:hidden;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
.column_1of2 span.xml:hover{opacity:0.8}*/
.column_2of2 span.txt{background: url(../images/tab_txt.png) no-repeat;width: 200px;height: 138px;}
/*.column_2of2 span.txt{-webkit-backface-visibility:hidden;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
.column_2of2 span.txt:hover{opacity:0.8}*/
.column_2of2 span.html{background: url(../images/tab_html.png) no-repeat;width: 200px;height: 276px;}
/*.column_2of2 span.html{-webkit-backface-visibility:hidden;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
.column_2of2 span.html:hover{opacity:0.8}*/
/*.column_1of2 a{color: #fff;font-size: 29px;position: absolute;bottom: 15px;left: 30px;font-family: "微软雅黑",arial;}
.column_1of2 a em{font-size: 20px;font-style: normal;color: #fdfdfe;margin-top: -10px;display: block;}
.column_2of2 a{color: #fff;font-size: 29px;position: absolute;left: 30px;font-family: "微软雅黑",arial;}
.column_2of2 a em{font-size: 20px;font-style: normal;color: #fdfdfe;margin-top: -10px;display: block;}*/
.column_2of2 span.txt a{position: absolute;top: 30px;}
.column_2of2 span.html a{position: absolute;bottom: 55px;}
.tag_bottom_left,.tag_bottom_right{display: block;float: left;width: 593px;height: 260px;margin-top: 16px;}
.tag_bottom_left_a,.tag_bottom_left_b{display: block;float: left;}
.tag_bottom_left_a{width: 300px;height: 260px;}
.tag_bottom_left_a span.word_s,.tag_bottom_left_a span.excel_s,.tag_bottom_left_a span.ppt_s,.tag_bottom_left_a span.xml_s,.tag_bottom_left_b span{display: block;float: left;position: relative;}
.tag_bottom_left_a span.word_s{background: url(../images/tab_word_s.png) no-repeat;width: 150px;height: 130px;}
.tag_bottom_left_a span.excel_s{background: url(../images/tab_excel_s.png) no-repeat;width: 150px;height: 130px;}
.tag_bottom_left_a span.ppt_s{background: url(../images/tab_ppt_s.png) no-repeat;width: 150px;height: 130px;}
.tag_bottom_left_a span.xml_s{background: url(../images/tab_xml_s.png) no-repeat;width: 150px;height: 130px;}
.tag_bottom_left_a span.word_s{-webkit-backface-visibility:hidden;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
.tag_bottom_left_a span.word_s:hover{opacity:0.8}
.tag_bottom_left_a span.excel_s{-webkit-backface-visibility:hidden;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
.tag_bottom_left_a span.excel_s:hover{opacity:0.8}
.tag_bottom_left_a span.ppt_s{-webkit-backface-visibility:hidden;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
.tag_bottom_left_a span.ppt_s:hover{opacity:0.8}
.tag_bottom_left_a span.xml_s{-webkit-backface-visibility:hidden;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
.tag_bottom_left_a span.xml_s:hover{opacity:0.8}
.tag_bottom_left_a span i{font-style:normal;color: #fff;font-size: 18px;position: absolute;top: 15px;font-family: "微软雅黑",arial;text-align: center;width: 300px;left: 50%;margin-left: -150px;}
.tag_bottom_left_b span{background: url(../images/other.png) no-repeat;width: 293px;height: 259px;position: relative;}
.tag_bottom_left_b span img{position: absolute;top: 104px;right: 220px;}
.tag_bottom_left_b span img.jt_b{margin-right: 20px;}
.tag_bottom_left_b:hover img{-webkit-animation-name: que_list_left;animation-name: que_list_left;-webkit-animation-duration: 0.75s;animation-duration: 0.75s;-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;}

.tag_bottom_left_b span{-webkit-backface-visibility:hidden;-webkit-transition:opacity 0.3s ease-out;-moz-transition:opacity 0.3s ease-out;-o-transition:opacity 0.3s ease-out;transition:opacity 0.3s ease-out;}
/*.tag_bottom_left_b span:hover{opacity:0.8}*/




.tag_bottom_right{background: url(../images/ymcl.png) no-repeat;width: 592px;height: 259px;margin-left: 14px;}
.tag_bottom_right ul{margin-top: 90px;margin-left: 80px;}
.tag_bottom_right ul li{display: block;float: left;margin-right: 7px;cursor: pointer;}
.tag_bottom_right ul li i{display: block;text-align: center;font-size: 16px;color: #fff;padding: 5px 0;}
.tag_bottom_right ul li:hover a{color: #ededed;}

.copyright{padding: 20px;text-align: center;font-size: 14px;color: #575757;margin-top: 10px;}
.all{}
.all .bll{}
.all .bll .backc8
{
  transition:width 1s, height 1s;
  -moz-transition:width 1s, height 1s, -moz-transform 1s;
  -webkit-transition:width 1s, height 1s, -webkit-transform 1s;
  -o-transition:width 1s, height 1s, -o-transform 1s;
}
.all .bll .backc8:hover
{
  transform:rotateY(360deg);
  -moz-transform:rotateY(360deg);
  -webkit-transform:rotateY(360deg);
  -o-transform:rotateY(360deg);
}

.all .bll i{font-style: normal}
.backc8{ background-color:#cc6633;}





*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


/* Common style */
.grid{
  float:left;
}
.grid figure {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 138px;
  text-align: center;
  cursor: pointer;
}
.grid figure.str {

  width: 200px;
  height: 138px;

}
.grid figure.hi {
  width: 200px;
  height: 276px;
}
.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;

}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid figure figcaption  em{font-size: 20px;font-family: "微软雅黑";font-style: normal;display: block;float: left;line-height: 40px;margin-right: 5px;}
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}


figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(133,172,70,0) 0%, rgba(255,255,255,0.2) 75%);
  background: linear-gradient(to bottom, rgba(133,172,70,0) 0%, rgba(255,255,255,0.2) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0,50%,0);
  transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
  position: absolute;
  bottom: 10px;
  color: #fff;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0,-1%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-1%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


@media screen and (max-width: 50em) {
  .content {
    padding: 0 10px;
    text-align: center;
  }
  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}


@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

/* Curl Bottom Left */
.hvr-curl-bottom-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-curl-bottom-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  left: 0;
  background: #f2f2f2;
  /* IE9 */
  background: linear-gradient(45deg, #f2f2f2 45%, #aaaaaa 50%, #cccccc 56%, #f2f2f2 80%);
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-bottom-left:hover:before, .hvr-curl-bottom-left:focus:before, .hvr-curl-bottom-left:active:before {
  width: 25px;
  height: 25px;
}


